<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <style type="text/css">
    .button {
      width: 100%;
    }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>{{ self.title() }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="three columns">
          {% block sidebar %}
          {% endblock %}
        </div>

        <div class="nine columns">
          <h4>Operating System Information</h4>

          <p>{{ os_info }}</p>

          <h4>Interface List</h4>

          <table class="u-full-width">
            <thead>
              <tr>
                <th>Name</th>
                <th>IP Address</th>
                <th>Subnet Mask</th>
              </tr>
            </thead>

            <tbody>
              {% for ip_interface in ip_interfaces %}
              <tr>
                <td>{{ ip_interface['name'] }}</td>
                <td>{{ ip_interface['ipv4_address'] }}</td>
                <td>{{ ip_interface['subnet_mask'] }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="3" style="text-align: center;">
                  No interfaces to list
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
