{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
{% if message != "" %}
	<h3>{{ message }}</h3>
{% endif %}

{% for question in formatted %}
	<div class="jumbotron" id="test">
		{% for item in question %}
			{% if loop.first %}
				<p class="lead">{{ item }}</p>
			{% elif loop.last %}
				{% if params == question[loop.last] %}
					 <script type="text/javascript">
						var el = document.querySelector('p');
						var closestDiv = el.closest('div');
						closestDiv.style.backgroundColor = "green";
					</script>
				{% elif params != "" %}
					{% if params != question[loop.last] %}
					<script type="text/javascript">
						var el = document.querySelector('p');
						var closestDiv = el.closest('div');
						closestDiv.style.backgroundColor = "red";
					</script>
					{% endif %}
				{% endif %}
			{% else %}
				<p><a href="/questions/{{ title }}?ans={{ item }}" class="btn btn-primary btn-large">{{ item }}</a></p>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}
<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->
{% endblock %}
