{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
{% if message != "" %}
	<h3>{{ message }}</h3>
{% endif %}

{% set qid = 0 %}

{% for question in formatted %}
	<div class="jumbotron" id="{{ qid }}">
		{% for item in question %}
			{% if loop.first %}
				<p class="lead">{{ item }}</p>
			{% elif loop.last %}
				<!-- -->
			{% else %}
				<!-- <p><a href="/questions/{{ title }}?ans={{ item }}" class="btn btn-primary btn-large">{{ item }}</a></p> -->
				<p><a href="{{ url_for('checkAnswer', title=title, item=item, qid=qid, question=question) }}" class="btn btn-primary btn-large">{{ item }}</a></p>
			{% endif %}
		{% endfor %}
	</div>
	{% set qid = qid + 1 %}
{% endfor %}

{% if correct == 1 %}
	<script type="text/javascript">
		var divID = document.getElementById("{{ mod }}");
		divID.style.backgroundColor = "green";
	</script>
{% elif correct == 2 %}
	<script type="text/javascript">
		var divID = document.getElementById("{{ mod }}");
		divID.style.backgroundColor = "red";
	</script>
{% endif %}
{{ correct }}
{{ mod }}
{% for debug in test1 %}
	{{ debug }}
{% endfor %}
{{ test2 }}
{{ pos }}
{{ fuck }}
<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->
{% endblock %}
