{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
{% if message != "" %}
	<h3>{{ message }}</h3>
{% endif %}

{% set qid = 0 %}
{% for question in formatted %}
	<div class="jumbotron" id="{{ qid }}">
		{% for item in question %}
			{% if loop.first %}
				<p class="lead">{{ item }}</p>
			{% elif loop.last %}
			{% else %}
				<p><a href="{{ url_for('checkAnswer', title=title, item=item, qid=qid) }}" class="btn btn-primary btn-large">{{ item }}</a></p>
			{% endif %}
		{% endfor %}
	</div>
	{% set qid = qid + 1 %}
{% endfor %}

{% if correct == 1 %}
	<script type="text/javascript">
		var divID = document.getElementById("{{ mod }}");
		divID.style.backgroundColor = "green";
	</script>
{% elif correct == 2 %}
	<script type="text/javascript">
		var divID = document.getElementById("{{ mod }}");
		divID.style.backgroundColor = "red";
	</script>
{% endif %}
{% endblock %}
