{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
{% if message != "" %}
	<h3>{{ message }}</h3>
{% endif %}

{% set qid = 0 %}
{% for question in formatted %}
	<div class="jumbotron" id="{{ qid }}">
		{% for item in question %}
			{% if loop.first %}
				<p class="lead">{{ item }}</p>
			{% elif loop.last %}
			{% else %}
				<p><button class="btn btn-primary btn-large reply_btn">{{ item }}</button></p>
			{% endif %}
		{% endfor %}
	</div>
	{% set qid = qid + 1 %}
{% endfor %}
<script type="text/javascript">
$(document).ready(function(){
	$('.reply_btn').click(function() {
		$.ajax({
			'type': "POST",
			'url': "{{ url_for('ajaxReply', title=title) }}",
			'dataType': "json",
			'data': {'question': $(this).closest('.jumbotron').attr('id'),
				'answer': $(this).text()
				},
			'success': function(data) {
				if(data['correct']==true) {
					var change = "#" + data['id'];
					$(change).css( "backgroundColor", "green" );
					//$(this).closest('.jumbotron').css("background-color", "green");
				} else {
					var change = "#" + data['id'];
					$(change).css( "backgroundColor", "red" );
					//$(this).closest('.jumbotron').css("background-color", "red");
				}
			},
            'error': function(error) {
                alert('error');
            }
		});
	});
});
</script>
{% endblock %}